<a href="https://colab.research.google.com/github/ahakobia/Group4_NFLX_MIDTERM/blob/main/Adehs_US_Energy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
import numpy as np

In [20]:
energy_data = pd.read_csv("Resources/organised_Gen.csv")
energy_data = energy_data.drop(columns=['Unnamed: 0'])
energy_data.head(25)

,YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours)
0,2001,1,AK,Total Electric Power Industry,Coal,46903.0
1,2001,1,AK,Total Electric Power Industry,Petroleum,71085.0
2,2001,1,AK,Total Electric Power Industry,Natural Gas,367521.0
3,2001,1,AK,Total Electric Power Industry,Hydroelectric Conventional,104549.0
4,2001,1,AK,Total Electric Power Industry,Wind,87.0
5,2001,1,AK,Total Electric Power Industry,Total,590145.0
6,2001,1,AK,"Electric Generators, Electric Utilities",Coal,18410.0
7,2001,1,AK,"Electric Generators, Electric Utilities",Petroleum,64883.0
8,2001,1,AK,"Electric Generators, Electric Utilities",Natural Gas,305277.0
9,2001,1,AK,"Electric Generators, Electric Utilities",Hydroelectric Conventional,104549.0
10,2001,1,AK,"Electric Generators, Electric Utilities",Wind,87.0
11,2001,1,AK,"Electric Generators, Electric Utilities",Total,493206.0
12,2001,1,AK,"Combined Heat and Power, Electric Power",Coal,19742.0
13,2001,1,AK,"Combined Heat and Power, Electric Power",Petroleum,213.0
14,2001,1,AK,"Combined Heat and Power, Electric Power",Total,19955.0
15,2001,1,AK,"Combined Heat and Power, Commercial Power",Coal,8751.0
16,2001,1,AK,"Combined Heat and Power, Commercial Power",Petroleum,1073.0
17,2001,1,AK,"Combined Heat and Power, Commercial Power",Total,9824.0
18,2001,1,AK,"Combined Heat and Power, Industrial Power",Petroleum,4916.0
19,2001,1,AK,"Combined Heat and Power, Industrial Power",Natural Gas,62244.0
20,2001,1,AK,"Combined Heat and Power, Industrial Power",Total,67160.0
21,2001,1,AL,Total Electric Power Industry,Coal,6557913.0
22,2001,1,AL,Total Electric Power Industry,Petroleum,107497.0
23,2001,1,AL,Total Electric Power Industry,Natural Gas,566478.0
24,2001,1,AL,Total Electric Power Industry,Other Gases,25283.0

In [41]:
energy_data.head(9000)

,YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours),Total
0,2001,1,AK,Total Electric Power Industry,Coal,46903.0,6.921969e+11
1,2001,1,AK,Total Electric Power Industry,Petroleum,71085.0,6.921969e+11
2,2001,1,AK,Total Electric Power Industry,Natural Gas,367521.0,6.921969e+11
3,2001,1,AK,Total Electric Power Industry,Hydroelectric Conventional,104549.0,6.921969e+11
4,2001,1,AK,Total Electric Power Industry,Wind,87.0,6.921969e+11
...,...,...,...,...,...,...,...
8995,2001,6,MD,"Electric Generators, Independent Power Producers",Total,4166191.0,0.000000e+00
8996,2001,6,MD,"Combined Heat and Power, Electric Power",Coal,110685.0,0.000000e+00
8997,2001,6,MD,"Combined Heat and Power, Electric Power",Petroleum,9535.0,0.000000e+00
8998,2001,6,MD,"Combined Heat and Power, Electric Power",Natural Gas,50882.0,0.000000e+00
8999,2001,6,MD,"Combined Heat and Power, Electric Power",Other Gases,38601.0,0.000000e+00